**/node/.DS_Store
**/node/node_modules/
**/node/frontend/node_modules/
**/node/.vscode
**/node/package-lock.json
**/node/frontend/package-lock.json
**/node/.cache/
**/node/public/static
**/node/.env.example
**/node/.logs/*.log
/node/dist
**/node/yarn.lock
**/node/frontend/yarn.lock
dbbackup.json
.env
**/frontend/.vscode