**/.DS_Store
**_modules/
**/frontend_modules/
**/.vscode
**/package-lock.json
**/frontend/package-lock.json
**/.cache/
**/.env.example
**/.logs/*.log
/dist
**/yarn.lock
**/frontend/yarn.lock
dbbackup.json
.env